*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
server_deployment.txt
db/backups/*
rails_best_practices_output.html
pin
.rvmrc
.powenv
config/locales/log
.DS_Store
data/*
