<div id="flash" style="display:<%= (self.flash.empty? ? 'none' : 'block') %>;">
  <% if self.flash[:notice] %>
  <div id="flash_notice" class="alert alert-success"><%= self.flash[:notice] %></div>
  <% elsif self.flash[:alert] %>
  <div id="flash_alert" class="alert alert-error"><%= raw self.flash[:alert] %></div>
  <% end %>
</div>